.git
.github
.idea
apps/docs/blade/.env
apps/docs/blade/vendor
apps/docs/blade/storage/framework/cache/data/*
apps/docs/blade/storage/framework/sessions/*
apps/docs/blade/storage/framework/views/*
apps/docs/blade/storage/logs/*
packages/jds/node_modules
packages/jds/public/dist
deploy/.env
