.idea/
docs/.env
docs/vendor/
docs/node_modules/
package/node_modules/
docs/public/build/
docs/storage/framework/cache/data/*
docs/storage/framework/sessions/*
docs/storage/framework/views/*
docs/storage/logs/*
deploy/.env
