/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.idea export-ignore
/.turbo export-ignore
/apps export-ignore
/deploy export-ignore
/node_modules export-ignore
/scripts export-ignore
/.dockerignore export-ignore
/Dockerfile export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/turbo.json export-ignore
/packages/jds/.turbo export-ignore
/packages/jds/config export-ignore
/packages/jds/node_modules export-ignore
/packages/jds/package.json export-ignore
/packages/jds/resources/css export-ignore
/packages/jds/resources/js export-ignore
/packages/jds/scripts export-ignore
/packages/jds/vite.config.js export-ignore
