.idea/
.agent/
/vendor/
/composer.lock
node_modules/
.turbo/
apps/docs/.next/
apps/docs/.source/
apps/docs/tsconfig.tsbuildinfo
apps/docs/blade/.env
apps/docs/blade/vendor/
packages/jds/node_modules/
apps/docs/blade/storage/framework/cache/data/*
apps/docs/blade/storage/framework/sessions/*
apps/docs/blade/storage/framework/views/*
apps/docs/blade/storage/logs/*
